div {
  max-width: 20rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button {
  background: #819ff7;
  color: white;
  border: none;
  border-radius: 0.4em;
  margin-top: 0.2em;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

button:hover {
  transform: scale(1.02);
  background: #01df01;
}

p {
  font-weight: bold;
  font-size: 1.1em;
  border: 5px solid lightgray;
  padding: 0.5em;
  text-align: center;
}
